.pages-banner {
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.pages-banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  z-index: 0;
}

.pages-banner-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  letter-spacing: 0.01em;

}